apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-node-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-node-app
  template:
    metadata:
      labels:
        app: my-node-app
    spec:
      containers:
        - name: my-node-app
          image: my-node-app:local
          ports:
            - containerPort: 3000
          env:
            - name: MONGO_URI
              value: mongodb://admin:admin123@mongo:27017/admin
